@import './Header.css';
@import './DisplayReservations.css';
@import './CreateItinerary.css';
@import './Login.css';
@import './ReservationForm.css';
@import './SingleReservation.css';

body, html {
    height: 120%;
    margin: 0;
    padding: 0;
    background-image: url("./backGround8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}