.ui.container.reservation-form-container{
    padding: 10% 5% 10% 5%;
}

.react-datepicker-wrapper {
    display: block !important;

}

.react-datepicker__input-container{
    displaY: block !important;
}

.error-message{
    color: red;
}


.ui.form .field{
    margin-bottom: 2%;
}

.ui.form .field .error{
    margin-bottom: 0px;
}

i.icon.icon-color{
    color:#ed9393;
}

